* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}
.container {
    background-image: url(soupHedar.jpg);
    height: 80vh;
}
.hedertitle {
    position: relative;
    top: 170px;
    left: 300px;
    color: white;
    font-size: 80px;
    font-weight:bolder;
    width: 55vw;
}
.soup{
    position: relative;
    left: 500px;
    top: 250px;
    width: 25vw;
    height: 55vh;
    transition: transform 0.6s ease;
}
.soup:hover {
    transform: rotate(180deg);
}
.line {
    border-top: 10px solid #3b3b3b; 
    margin-top: 50px;
    margin-bottom: 20px;
}
.section{
    height: 65vh;
}
.textinfo {
    width: 600px;
    text-align: start;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 380px;
    top:250px;
}
.img1 {
    position: relative;
    left: 540px ;
    top: 280px;
    height: auto;
    width: 250px;
}
.img2 {
    position: relative;
    left: 540px ;
    top: 4px;
    height: auto;
    width: 250px;
}
.list{
    width: 30vw;
    position: relative;
    left: 375px;
}
.section3 {
    display: flex;
    justify-content: center;
}
ol {
    text-align: center;
}
ul{
    list-style-type: none;
}
ol li, ul li {
    text-align: justify;
    font-weight: bold;
}
h3 {
    background-color: rgb(236, 192, 135);
    border-radius: 100px;
    text-align: left;
    display: inline-block;
}
.section3 {
    height: 50vh;
}
.list2 {
    width: 600px;
}
.lineSec2 , .lineSec1{
    width: 45vw;
    position: relative;
    left: 360px;
    color: #b6b6b6;
}