* {
    margin: 0;
    font-family: 'Quicksand';
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.headerimg {
    width: 100%;
    height: auto;
    margin: 0 auto;
     position: relative;
}

.hedertitle {
    position: relative;
    font-size: 80px;
    bottom:500px;
    left:400px;
}
.soup{
    width: 100px;
    height: 100px;
    position: relative;
    left: 780px;
    top: 200px;
}
.line {
    border: none;
    border-top: 1px solid #ccc; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.img {
    display: block;
    height: auto;
    width: 250px;
    margin: 0 auto; 
}

.list2 {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 600px;
}

ol {
    text-align: center;
}
ul{
    list-style-type: none;
}
ol li, ul li {
    text-align: justify;
    font-weight: bold;
}

h3 {
    background-color: rgb(236, 192, 135);
    border-radius: 100px;
    padding: 5px 10px;
    text-align: left;
    display: inline-block;
}

.list, .content1 {
    max-width: 600px;
    margin: 0 auto;
}

.textinfo {
    max-width: 600px;
    margin-left: 0;
    text-align: justify;
    font-weight: bold;
}